:root {
  --primary-color: #ecf2ff;
  --secondary-color: #e3dffd;
  --tertiary-color: #d6b7f8;
  --accent-color: #d1ae45;
  --shadow: 6px 4px 15px rgba(0, 0, 0, 0.2);
  --text-color: rgb(55, 52, 61);
}

h1 {
  font-family: "Poly", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 90px;
  color: var(--text-color);
  margin: 20px auto;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  padding-left: 16px;
  margin-bottom: 20px;
  font-family: "Poly", serif;
  font-weight: 600;
  font-size: 40px;
  color: var(--text-color);
}

h4 {
  opacity: 0.75;
  font-weight: 300;
}

h6 {
  text-align: center;
  margin-bottom: 60px;
  font-style: italic;
}

p {
  padding-right: 40px;
}

img {
  border-radius: 10px;
  border: 1.8 solid var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.bg-blue {
  background-color: var(--primary-color);
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.small-title {
  font-weight: 500;
  font-size: large;
  margin-bottom: 7px;
  margin-top: 8px;
  font-style: normal;
}
.hero {
  text-align: center;
  margin: 0 auto 60px auto;
  display: block;
  padding: 209px 100px;
  background-color: var(--primary-color);
}

.hero-button {
  margin-left: 40px;
  margin-right: 40px;
}

.project-button {
  margin-top: 80px;
  margin-left: 35px;
}

.button {
  text-decoration: none;
  color: white;
  padding: 23px 27px;
  border-radius: 6px;
  background: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.info-inverse {
  padding-right: 15px;
  margin-bottom: 20px;
  text-align: right;
}

.project-button.info-inverse {
  margin-right: 35px;
}

.button-inverse {
  text-decoration: none;
  color: var(--accent-color);
  padding: 23px 27px;
  border-radius: 6px;
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 1.8px solid var(--accent-color);
  transition: 100ms ease-in-out;
}

.button-inverse:hover {
  text-decoration: none;
  color: white;
  padding: 23px 27px;
  border-radius: 6px;
  background: var(--accent-color);
  box-shadow: var(--shadow);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.project-info {
  margin-left: 18px;
}

h1.about-section {
  font-size: 50px;
  margin-top: 8px;
}

h1.contact-section {
  font-size: 50px;
  margin-top: 30px;
}

h1.project-section {
  font-size: 50px;
  margin-top: 75px;
}

h5.about-section {
  font-style: italic;
}

p.about-section {
  margin-left: 0px;
}

.about-wrapper {
  padding-top: 120px;
}

.about-content {
  padding-right: 10px;
}

.projects-container {
  padding-top: 25px;
}

.about-button {
  margin: 100px;
}

.text-end {
  text-align: right;
}

@media (min-width: 1250px) {
  h3 {
    margin-top: 30px;
  }
}

@media (max-width: 960px) {
  .project-button {
    margin-left: 0;
  }
  .hero-button {
    margin-left: 25px;
    margin-right: 25px;
  }
  p {
    padding: 0 5px;
  }

  h3 {
    margin-top: 0;
  }

  .rachel {
    display: flex;
    margin-top: 70px;
  }

  .about-button {
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .project-info {
    text-align: center;
    margin-left: 0;
  }
  .about-button {
    margin: 0px;
  }
  .rachel {
    margin-top: 70px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 65px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    line-height: 1.5;
  }

  h6 {
    margin-bottom: 30px;
  }

  .rachel {
    margin-top: 70px;
  }

  .hero {
    padding: 100px 30px;
  }
  .hero-button {
    margin: 0 10px;
    font-size: 14px;
  }

  .project-button {
    margin-bottom: 22px;
  }

  .about-button {
    margin: 0px;
  }

  p {
    padding: 0 0px;
    margin-left: 0px;
  }
  .project-info {
    margin-left: 0;
    margin-right: 0;
  }
}
